.services{
    display: flex;
    flex-direction: column;
    border-bottom: 15px solid #ff9c00;
}
.services h1{
    background-color:#ff9c00 ;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 5px;
    
}
.services .service-items-container{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 0 10px;
}

.services .service-items-container  > div{
    padding: 10px;
}

.services .service-items-container > div p{
    text-align: justify;
    padding: 0 10px;
}

/***** Icon & Service Name *****/
.services .service-items-container > div div{
    color: #058afe;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    font-size: 22px;
}
 .box-services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    grid-gap: 0 20px;
    background-color: #143258;
    width: 100%;
    padding: 50px 20px;
    width: 100%;
}

.box-container{
    display: flex;
    align-items: baseline;
    border: solid;
    padding: 80px 20px;
    width: 100%;
    border: 15px solid #e6ddce;
    outline: 5px solid #cbbfaa;
    position: relative;
}
.box{
    margin-left: 10px;
    background-color: #143258;
} 
.box-text{
    position: absolute;
    background-color: #ff9c00;
    color: #ffffff;
    z-index: 100;
    bottom: -30px;
    right: -25px;
    padding: 10px;
    border-radius: 10px;
} 

/* Mobile View  */
@media screen and (max-width:992px){
   .services .service-items-container{
       display: grid;
       grid-template-columns: repeat(3, 2fr);
       grid-gap: 0 10px;
   }
   .box-services{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       justify-content: space-around;
       grid-gap: 40px  ;
       background-color: #143258;
       width: 100%;
       padding: 50px 20px;
   }
}
 @media screen and (max-width:688px){
    .services .service-items-container{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 0 10px;
    }
    .box-services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        grid-gap: 20px 0px;
        background-color: #143258;
        width: 100%;
        padding: 50px 20px;
    }
}