:root{
    --color1: #ff9c00
}
.carousel-container{
    border-bottom: 15px solid var(--color1);
}
.carousel-content{
    position: relative;
    z-index: 1;
    width: 100%;
}
.carousel-content img{
    opacity: 0.5;
}
.carousel-heading{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 10%;
}
.carousel-text{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #143258;
    color: #ffffff;
}
.carousel-text p{
    padding: 0 80px;
    font-weight: bold;
    font-size: 16px;
}
.btn{
    background-color: var(--color1);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}